body {
    background-image: url(./img/1.png);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   width: 99%;
    max-width: 1380px;
  margin: 5px auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
html {
    scroll-behavior: smooth;
  }
@media (max-width: 900px) {
    body { 
background-image: url(./img/Black.png);   }

  }
.header {
    background-color: darkgray;
    padding: 5px;
    border-radius: 5px;
}
.navbar {
    justify-content: center;
    text-align: center;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    font-size: larger;
    padding: 10px;
    color: black;
}
.navbar a:hover {
    color: skyblue;
}
.container {
    margin-top: 10px;
    display: flex;
    height: 620px;

  }
  
  .column {
    flex: 1;
    width: 200%;
    margin: 15px;
    height: 200px; /* Adjust height as needed */
  }
  .column1 {
    flex: 1;
    width: 200%;
    height: 200px; /* Adjust height as needed */
    text-align: center;
  }
.column h2 {
    color: white;
    font-size: xxx-large;
    text-align: center;
} 
.column h3 {
    color: white;
}
.column p {
    color:white ;
} 
.column p:hover {
    color:aquamarine;
}
.column h2:hover{
    color: gray;
}
.profile img {
    margin-top: 50px;
    border-radius:1000000%;
    width: 40%;
}


@media (max-width: 900px) {
    .column1  {
      display: none;
    }
}
form {
    justify-content: center;
    align-items: center;
    text-align: center;
}
button.cv {
    background-color: darkgray;
    border-radius: 10px;
    border: solid 2px darkgray;
    padding: 5px;
    cursor: pointer;
}
button.cv:hover {
    background-color: gray;
    border: solid 2px gray;
    color: aliceblue;
}
.social {
    display: flex;
}
.social img {
    margin: 5px;
    transition: 0.5s;
}
.social img:hover {
    margin-top: -5px;
}
button.bgr {
    background-color: darkgray;
    border-radius: 10px;
    border: solid 2px darkgray;
    padding: 5px;
    cursor: pointer;
}
@media (max-width:900px) {
    button.bgr {
        display: none;
    }
    
}
button.bgr:hover {
    background-color: gray;
    border: solid 2px gray;
    color: aliceblue;
}

/* works */

.works h2 {
color:aliceblue ;
margin: 20px;
}
 .up {
    width: 50px;
    float: right;
      position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: 0.2s;
}
.up:hover {
    margin-top: -5px
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
  }

  .column2 {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
  }
.column2 h2 {
    color: aliceblue;
}
.column2 p {
    color: aliceblue;
}
.column2 img {
    width: 80%;
    border-radius: 10px;
    border: solid 5px darkgray;
}

  /* Responsive layout - when the screen is less than 600px wide, make the columns stack on top of each other */
  @media screen and (max-width: 600px) {
    .column2 {
      flex: 100%;
    }
  }